<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/categories">go to categories</a>
<br>
<a href="/create-book">Create new book</a>
<h1>Books</h1>
<form>
    Search by Category:
    <select name="search">
        <option th:each="p : ${categories}" th:value="${p.id}" th:text="${p.name}"></option>
    </select>
    <input type="submit" value="Search"/>
</form>
<br/>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.name}"></td>
            <td th:text="${book.amount}"></td>
            <td th:if="${book.category}" th:text="${book.category.name}"></td>
            <td th:unless="${book.category}"></td>
            <td><a th:href="@{/edit-book/__${book.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-book/__${book.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<td><a th:href="@{/create-code/}">Lay phieu muon sach</a></td>
<div>
    <a th:href="@{'/books'(page=${books.number - 1})}" th:if="${books.hasPrevious()}">Previous</a>
    <span th:text="${books.number + 1}"></span>/<span th:text="${books.totalPages}"></span>
    <a th:href="@{'/books'(page=${books.number + 1})}" th:if="${books.hasNext()}">Next</a>
</div>
</body>
</html>